*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: azure;
}
p{
    color: azure;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: auto;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 110%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: azure;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;

}

.header{
    background: radial-gradient(rgba(0, 0, 65, 0.425), rgb(0, 0, 0));
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small_cont{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: azure;
}
.title::after{
    content: "";
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background: #ff523b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: azure ;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
    
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-10px);
}
.offer{
    background: radial-gradient(rgba(0, 0, 65, 0.425), rgb(0, 0, 0));
    margin-top: 80px;
    padding: 30p 0x;
}
.col-2 .offer-img{
    padding: 40px;
}
small{
    color: azure;
}
.testi{
    padding-top: 100px;
}
.testi .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.934);
    cursor: pointer;
    transition: transform 0.5s;
}
.testi .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testi .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 18px;
    margin: 12px 0;
    color: azure;
}
.testi .col-3 h3{
    font-weight: 600;
    color: azure;
    font-size: 22px;
}
.footer{
    background: rgba(0, 0, 65, 0.425);
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.f-col-1 p{
    color: azure;
}
.footer h3{
    color: azure;
    margin-bottom: 20px;
}
.f-col-1, .f-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.f-col-1{
    flex-basis: 30%;
}
.f-col-2{
    flex: 1;
    text-align: center;
}
.f-col-1 img{
    width: 140px;
    margin-bottom: 7px;
}
ul{
    list-style-type: none;
}
.f-col-2 img{
    width: 50px;
}
.vid{
    display: flex;
    justify-content: center;
    align-items: center;

}
video{
    max-width: 100%;
    width: 1800px;
}
.buy button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #ff7a18, #af002d 80%);
    color: azure;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
button:hover{
    transform: scale(1.6);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
button.show{
    display: flex;
}